
.reveal li.current-fragment {
    display: list-item;
}

.reveal .slides .slide {
    h5 {
        font-size: 80%;
    }
    
    h6 {
        font-size: 70%;
    }

    &.author-card {
        h1, h2, h3, h4, h5, h6 {
            text-align: left;
        }
    }
}
