// COLOURS
$body-bg: #fcfcfc;

$main: #b15e7c;
$main-light: #608cc3;
$main-contrast: #f5f4f2;

$copy-colour: #fafafa;
$heading-colour: #fafafa;
$dark-heading-colour: #333;
$link-colour: $main;

// FONTS
$copy-font: 'Open Sans', sans-serif;
$heading-font: 'Trirong', serif;
$accent-font: 'Open Sans', sans-serif;
$code-font: 'Fira Code', 'Source Code Pro', monospace;

// SIZING
$max-width: 1200px;

